@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
a, a:link{ text-decoration: none; }
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

input:-ms-input-placeholder{color:#a8a8a8;}
input::-webkit-input-placeholder{color:#a8a8a8;}
input:-moz--placeholder{color:#a8a8a8;}

/* 레이아웃 큰박스 속성 */
.wrap{ 
	width:99.9%; display:block;
}
#top{ 
    display: flex; 
    flex-direction: row;
	justify-content: space-between;
    align-items: flex-start; 
	width:980px;  margin:0 auto;
    font-size: 1.1em;
}
#top > .item{
	font-size:0.8em;
	padding:5px 0 5px 0;
}
#top > .item:nth-child(1){
	flex:1;
	order:1;
}
#top > .item:nth-child(2){
	flex:1;
	text-align: right;
	order:2;
}
#top a{ padding-right:5px; color:rgba(26,26,26,1); } #top a:hover{ color: white; } 
#top a:link, #top a:visited { text-decoration: none; } 
#top > .item:nth-child(2) > a:nth-child(4){ 
	padding:0 0 0 10px;  border-left:thin solid black; display:inline-block; line-height:100%;
}